<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mouse 的主页</title>
<meta http-equiv="Content-Language" content="en-us" />
<%= stylesheet_link_tag 'templatemo_style.css' %>
<meta name="author" content="Niall Doherty" />
<%= javascript_include_tag "homes/jquery-1.2.1.pack.js" %>
<%= javascript_include_tag "homes/jquery-easing.1.2.pack.js" %>
<%= javascript_include_tag "homes/jquery-easing-compatibility.1.2.pack.js" %>
<%= javascript_include_tag "homes/coda-slider.1.1.1.pack.js" %>

<script type="text/javascript">
    jQuery(window).bind("load", function() {
    jQuery("div#slider1").codaSlider()
    });
    function query(content){ 
      var address;
      content = document.getElementById("content").value;
      address = "http://www.google.com.hk/search?client=ubuntu&channel=fs&ie=utf-8&oe=utf-8&q=" + content;
      window.open(address);
    };

    function CallMessage(){ 
      alert("sorry,somethings are wrong!");
    }
    </script>
</head>
<body>
<div id="templatemo_site_title_bar_wrapper">
  <div id="templatemo_site_title_bar">
    <div id="site_title">
      <h1><a href="" target="_parent"> Mouse <span>Home</span> </a></h1>
    </div>
    <div id="twitter"><a onClick = "query()">google</a></div>
    <div id='contents'><a><input class="field" id="content" type="text"  onKeyPress="if(event.keyCode==13) query();"></a>
  </div>
  <!-- end of templatemo_site_title_bar -->
</div>
<!-- end of templatemo_site_title_bar_wrapper -->
<div id="templatemo_content_wrapper">
  <div id="templatemo_content">
    <!-- start of slider -->
    <div class="slider-wrap">
      <div id="slider1" class="csw">
        <div class="panelContainer">
          <div class="panel" title="Home">
            <div class="wrapper">
              <h2>Welcome to my website -Mouse-</h2>
              <div class="image_wrapper fl_image"> <img src="images/templatemo_image_012.jpg" alt="image"/> </div>
              <p>The Website I use often</p>
              <p class="em_text">1. CSDN 大学生联盟  <a href="http://www.csdn.com/" target="_blank">CSDN</a>
                &nbsp;&nbsp;
                2. 后台模板<a href="www.865171.cn">Template-F</a>
              <a href="www.sitediy.com/">Template-S</a></p> 
              <p class="em_text">3. GitHub for myself  <a href="http://www.github.com/" target="_blank">GitHub</a> 
                &nbsp;&nbsp;
                4. Gmail for myself<a href="https://mail.google.com/mail" target="_blank">Gmail</a></p>
              <p class="em_text">5. Heroku <a href="http://www.heroku.com/" target="_blank">Heroku</a>
                &nbsp;&nbsp;
                6. Google Docs <a href="http://docs.google.com/" target="_blank">Docs</a>               
              </p>
              <p class="em_text">7. 百度音乐盒 <a href="http://box.zhangmen.baidu.com/m?rf=idx&ct=134217728&tn=baidumt&gate=5" target="_blank">Music</a>
                &nbsp;&nbsp;
                8. ProGit <a href="http://progit.org/book/zh/">ProGit</a>
              </p>
              <p>(A good source storage management tools, in particular, to use in ubuntu is cool)</p>
              <p><a href="#2" class="cross-link" title="Go to Page 2">Next Page &#187;</a></p>
            </div>
          </div>
          <div class="panel" title="Library">
            <div class="wrapper">
              <h2>Books</h2>
              <ul class="service_list">
              </ul>
              <div class="cleaner_h20"></div>
              <p><a href="#1" class="cross-link" title="Go to Page 1">&#171; Previous Page</a> | <a href="#3" class="cross-link" title="Go to Page 3">Next Page &#187;</a></p>
            </div>
          </div>
          <div class="panel" title="OS Ubuntu">
            <div class="wrapper">
              <h2>My Operating System Ubuntu</h2>
              <div class="portfolio_box margin_r50">
                <h3>The best system Ubuntu</h3>
                <div class="port_img"> <img src="images/templatemo_image_02.jpg" alt="project 1" /> </div>
                <div class="port_content">
                  <p> This is my first operating system that cool!! </p>
                  <a href="http://www.ubuntu.org.cn/" target="_blank">Preview</a> </div>
                <div class="cleaner"></div>
              </div>
              <div class="portfolio_box margin_r50">
                <h3>Some useful tools</h3>
                <div class="port_img"> <img src="images/templatemo_image_03.jpg" alt="project 2" /> </div>
                <div class="port_content">
                  <p>Write code using the ubuntu system is very simple,it provide many tools for us to use,such as Vim、gnome-do...</p>
                  <a href="http://www.vim.org/" target="_blank">Preview</a>
                  <div class="cleaner"></div>
                </div>
              </div>
              <div class="portfolio_box">
                <h3>Project Three</h3>
                <div class="port_img"> <img src="images/templatemo_image_04.jpg" alt="project 3" /> </div>
                <div class="port_content">
                  <p></p>
                  <a href="" target="_blank">Preview</a> </div>
                <div class="cleaner"></div>
              </div>
              <div class="cleaner_h10"></div>
              <p><a href="#2" class="cross-link" title="Go to Page 2">&#171; Previous Page</a> | <a href="#4" class="cross-link" title="Go to Page 4">Next Page &#187;</a></p>
            </div>
          </div>
          <div class="panel" title="Music">
            <div class="wrapper">
              <h2>Music</h2>
              <div class="image_wrapper fl_image"> <img src="images/templatemo_image_05.jpg" alt="image 1"/> </div>
              <div class="image_wrapper fr_image"> <img src="images/templatemo_image_06.jpg" alt="image 2"/> </div>
              <p><a href="#3" class="cross-link" title="Go to Page 3">&#171; Previous Page</a> | <a href="#5" class="cross-link" title="Go to Page 5">Next Page &#187;</a></p>
            </div>
          </div>
          <div class="panel" title="Contact me">
            <div class="wrapper">
              <h2>Contact Information</h2>
              <div id="contact_form">
                <form method="post" name="contact" action="">
                  <label for="author">Name:</label>
                  <input type="text" id="author" name="author" class="required input_field" />
                  <div class="cleaner_h10"></div>
                  <label for="email">Email:</label>
                  <input type="text" id="email" name="email" class="validate-email required input_field" />
                  <div class="cleaner_h10"></div>
                  <label for="phone">Phone:</label>
                  <input type="text" name="subject" id="subject" class="input_field" />
                  <div class="cleaner_h10"></div>
                  <label for="text">Message:</label>
                  <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                  <div class="cleaner_h10"></div>
                  <!input style="font-weight: bold;" type="submit" class="submit_btn"   value=" Send " onclick="CallMessage()" />
                </form>
              </div>
              <div class="address_info">
                <h3>Welcome to</h3>
                If you want to express you advises<br />
                or contact me,<br />
                You can leave your information here <br />
                <h4>But sorry ,now it isn't work!</h4>
              </div>
              <div class="cleaner_h20"></div>
              <p><a href="#4" class="cross-link" title="Go to Page 4">&#171; Previous Page</a></p>
            </div>
          </div>
        </div>
        <!-- .panelContainer -->
      </div>
      <!-- #slider1 -->
    </div>
    <!-- .slider-wrap -->
    <p id="cross-links" style="width:0px; height: 0px; font-size:0; overflow: hidden;"> Same-page cross-link controls:<br />
      <a href="#1" class="cross-link">Page 1</a> | <a href="#2" class="cross-link">Page 2</a> | <a href="#3" class="cross-link">Page 3</a> | <a href="#4" class="cross-link">Page 4</a> | <a href="#5" class="cross-link">Page 5</a> </p>
    <!-- end of slider -->
  </div>
  <!-- end of templatemo_content -->
</div>
<!-- end of templatemo_content_wrapper -->
<div id="templatemo_footer_wrapper">
  <div id="templatemo_footer"> Copyright © 2010 <a href="#">Mouse -Wando</a>
    <div class="cleaner_h10"></div>
    Designed by <a href="http://www.csdn.com" target="_parent">Mouse </a> </div>
  <!-- end of templatemo_footer -->
</div>
<!-- end of templatemo_footer_wrapper -->
</body>
</html>

